a {
  display: block;
  outline: none;
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}


.page-enter,
.page-leave-active {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: opacity .5s ease;
}


.d-ib {
  display: inline-block;
}

.pos-r {
  position: relative;
}

.__nuxt-error-page {
  z-index: 1;
}

.v-align-center {
  display: flex;
  align-items: center;
}

.text-ss {
  font-size: 0.6rem;
}

.text-sm {
  font-size: 0.875rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}


.mb-10 {
  margin-bottom: 2.5rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-12 {
  margin-top: 3rem;
}

.rounded {
  border-radius: .25rem;
}

.rounded-full {
  border-radius: 9999px;
}

.font-medium {
  font-weight: 500;
}


.icon {
  fill: $primary;
  transition: all .25s ease;
  width: 20px;
  height: 20px;
}

.link-hover {
  transition: all .25s ease;

  &:hover {
    color: $accent;
    transition: all .25s ease;

    svg {
      fill: $accent;
    }
  }
}

.back-to {
  svg {
    margin-right: 0.3rem;
  }
}


.after\:border-dark::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  border-radius: 4px;
  height: 2px;
  width: 80%;
  background-color: $primary;
}
